<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="com.test.Utils.Listeners.Listeners"/>
    </listeners>

        <test name="Submit order test" >
            <classes>
                <class name="com.test.TestCase.ProductPageTest"/>
                <class name="com.test.TestCase.LoginUser"/>
            </classes>
        </test>

</suite>